{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<address>
    <br />
    <br />
    Off Sarjapur Road,<br />
    Survey #45/3, Kasavanahalli Main Road,<br />
    Haraluru, Bangalore 560 102<br />
    </address>

<address>
    <a href="mailto:eshwarra5@gmail.com"><strong>Eshwar RA</strong> </a><br />
    <a href="mailto:amithavavarma@gmail.com"><strong>Amithava Varma</strong> </a><br />
    <a href="mailto:sashwathosmani1.com"><strong>Shashwat Hosamani</strong> </a><br />

</address>

{% endblock %}
